/* Elements */
body{
  background-color: #0A0A0A;
  color: #FFFFFF
}
button{
  background: #bbbbbb;
  color: #2A2A2A;

  border: 0px solid black;
  border-radius: 5px;

  padding: 5px;
  margin: 10px;

  cursor: pointer;
}
canvas{
  background: none;
  color: #FFFFFF;

  border: 1px solid black;
}

/* Classes */
.grid_head{
  background-color: #888888;
  color: #aa0000;

  text-align: center;
}

/* Objects */
#grid{
  background-color: #2A2A2A;
  color: #FFFFFF;

  width: 700px;
  margin-left: 25%;

  cursor: pointer;
}